.blue{background-color: blue;}
.aquamarine {background-color: aquamarine;}
.slategrey{background-color: slategrey;}
.h100{height: 100px;}
.navbar{
    background-color: aquamarine;
}
.red{background-color: red;}
.h500{height: 500px;}
.content{
    justify-content: center;
    align-items: center;
}
.white{background-color: white;}
.h300{height: 300px;}
.h150{height: 150px;}
.h600{height: 600px;}
