
<html>
    <head>
        <meta charset="utf-8">
        <title>My Portfolio</title>
    </head>
    <style>
        .header li {
            color: #000;
            display: block;
            float: left;
            padding : 5px 5px 5px 2px;
            margin: auto; text-align: center; background-color: white;    
        }
        .header ul {
            background-color: #f1f1f1;
            margin: 0px;
            padding: 0px;
        }
        a:hover {
            color: blue;
            background-color: darkgray;
            padding: 6px;
        }
        h1 {
            padding-top: 100px;
        }
    </style>
    <body>
        <div class = "header">
            <ul>
                <li><a href = "/">About Me</a> |</li>
                <li><a href = "/skill">Skill</a> |</li>
                <li><a href = "/contact_me">Contact me</a> |</li>
                <li><a href = "/portfolio">Portfolio</a></li>
            </ul>
        </div>
        <h1 style="text-align: center">Contact Me</h1>
        <ul>
            <li>Phone: 091-2578088</li>
            <li>Email: amonratpongka@gmail.com</li>
            <li>Line ID: amrpk02</li>
            <li>address: Dcondo Campus Resort Bang Waek Rd, Bang Waek, Phasi Charoen, Bangkok 10160</li>
        </ul>
    </body>
</html>