<html>
    <head>
        <meta charset="utf-8">
        <title>My Portfolio</title>
    </head>
    <style>
        ul {
            background-color: #f1f1f1;
            margin: 0px;
            padding: 0px;
        }
        li {
            color: #000;
            display: block;
            float: left;
            padding : 5px 5px 5px 2px;
            margin: auto; text-align: center; background-color: white;
        }
        a:hover {
            color: blue;
            background-color: darkgrey;
            padding: 6px;
        }
        h1 {
            padding-top: 100px;
        }
    </style>
    <body>
        <div class = "header">
            <ul>
                <li><a href = "/">About Me</a> |</li>
                <li><a href = "/skill">Skill</a> |</li>
                <li><a href = "/contact_me">Contact me</a> |</li>
                <li><a href = "/portfolio">Portfolio</a></li>
            </ul>
        </div>
        <div style="text-align: center">
            <h1>About Me</h1>
            <img src="pic.JPG" width="200" height="300">
        </div>
        <p style="text-indent: 100px; font-size: 20px;">My name is Amonrat Pongka or you can call me Nokyung. I'm 24 years old. I graduated in 2021 from Civil Aviation Training Center as Aviation Engineering. 
            <br>I work at Electronics Sources Company as a Field Application Engineer since July 2021 to present. But I'm interested about Programming, so I decied to learn at Dev. Camp</p>
    </body>
</html>